@import "./variables";

@mixin hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

@mixin container {
  width: auto;
  height: auto;
  padding: 0 $container_padding;
}