@import "../abstracts/mixins";
@import "../abstracts/variables";
.Hide {
  @include hide;
}

.SideDrawer {
  position: relative;
  z-index: 200;
  top: $menu-top;
}

@media only screen and (min-width: 576px) {
  .SideDrawer {
    @include hide;
  }
}